<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'public/genres/genre_search', genres: @genres %>
    </div>
    <div class="col-md-2">
      <%= attachment_image_tag(@product, :image, :fill, 230, 230, fallback: "no_image.png") %>
    </div>
    <div class="col-md-6">
      <h3><%= @product.name %></h3>
      <%= @product.introduction %>
      <p><b>¥<%= @product.tax_on.to_s(:delimited) %></b><span>（税込）</span></p>
      <%= form_with model: @cart_product, url: cart_products_path, local: true do |f| %>
        <%= f.number_field :amount, min: 1, max: 10, placeholder: "個数選択" %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>