<div class="container">
  <div class="row">
    <%= render 'public/genres/genre_search', genres: @genres %>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-5">
          <%= attachment_image_tag(@product, :image,  size: '320x320', fallback: "no_image.png") %>
        </div>
        <div class="col-md-6">
          <h3><%= @product.name %></h3>
          <%= @product.introduction %>
          <p><b>¥<%= @product.tax_on.to_s(:delimited) %></b><span>（税込）</span></p>
        </div>
      </div>
      <div class="row">
        <div class="pull-right">
          <%= form_with model: @cart_product, url: cart_products_path(product_id: @product.id), local: true do |f| %>
            <%= f.number_field :amount, min: 1, max: 10, placeholder: "個数選択" %>
            <%= f.submit "カートに入れる" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>