<mark><h3>新規会員登録</h3></mark>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)), html: { class: "form-horizontal" } do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>
    <div class="form_group">
      <label class="control-label col-md-2">名前</label>
        <%= f.label :last_name, "(姓)" %>
        <div class="col-md-3">
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
        </div>
        <%= f.label :first_name, "(名)" %>
        <div class="col-md-3">
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
    </div>

    <div class="form_group">
      <label class="control-label col-md-2">フリガナ</label>
      <%= f.label :last_name_kana, "(セイ)" %>
      <div class="col-md-3">
        <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
      </div>
      <%= f.label :first_name_kana, "(メイ)" %>
      <div class="col-md-3">
        <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :email, "メールアドレス", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :address, "住所", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :address, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :phone_number, "電話番号(ハイフンなし)", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :phone_number, autofocus: true, class: "form-control"%>
      </div>
    </div>

    <div class="form_group">
      <label class="control-label col-md-2">パスワード
        <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      </label>
      <div class="col-md-3">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :password_confirmation, "パスワード(確認用)", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<h3>既に登録済みの方</h3>
<%= render "customers/shared/links" %>からログインしてください。
