<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/genres/genre_search', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h3>検索結果（ジャンル：<%= @genre.name %>）</h3>
      <% if @products.empty? %>
        <h4>該当する商品はありません</h4>
      <% end %>
      <!--部分テンプレート？-->
        <% @products.each do |product| %>
          <div class="pull-left mx-3">
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag(product, :image, size: '150x180', fallback: "no_image.png") %><br />
              <%= product.name %><br />
            <% end %>
            ¥<%= product.tax_on.to_s(:delimited) %>
          </div>
        <% end %>
      <!--ここまで-->
    </div>
  </div>
</div>