<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>配送先編集</h4>
            <%= form_for (@delivery) do |f| %>
            <table class="table table-bordered">
            <tr>
                <th>郵便番号(ハイフンなし)</th>
                <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
                <th>住所</th>
                <td><%= f.text_field :address %></td>
            </tr>
            <tr>
                <th>宛名</th>
                <td><%= f.text_field :name %></td>
            </tr>
            </table>
              <%= f.submit "編集する", class:"btn btn-primary btn-md" %>
            <% end %>
        </div>
    </div>
</div>