<tbody>
  <% order_products.each do |order_product| %>
    <tr>
        <td><%= order_product.product.name %></td>
        <td><%= order_product.price.to_s(:delimited) %></td>
        <td><%= order_product.amount %></td>
        <td><%= order_product.total_price.to_s(:delimited) %></td>
        <td>
          <%= form_with model: order_product, url: admin_order_product_path(order_product), class:"update_making_status" do |f| %>
            <%= f.select :making_status, options_for_select(OrderProduct.making_statuses.to_a, selected: order_product.making_status_before_type_cast) %>
            <%= f.submit "更新", class:'btn btn-info' %>
          <% end %>
        </td>
    </tr>
  <% end %>
</tbody>