<h2>商品一覧</h2>

<table>
  <thead>
    <th>
      <tr>商品ID</tr>
      <tr>商品名</tr>
      <tr>税抜価格</tr>
      <tr>ジャンル</tr>
      <tr>ステータス</tr>
    </th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tb>
      <tr>
        <%= product.id %>
      </tr>
      <tr>
        <%= link_to product.name, admin_product_path(product) %>
      </tr>
      <tr>
        <%= product.price %>
      </tr>
      <tr>
        <%= product.genre_id %>
      </tr>
      <tr>
        <%= product.is_active %>
      </tr>
    </tb>
    <% end %>
  </tbody>
</table>