<div class="container">
  <h4>商品詳細</h4>

  <div classs="row">
    <div class="col-md-2 col-md-offset-1">
      <%= attachment_image_tag(@product, :image, size: "160x120", fallback: "no_image.png") %>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <p>商品名&emsp;&emsp;
        <strong><%= @product.name %></strong>
      </p>
      <p>商品説明&emsp;&emsp;
        <strong><%= @product.introduction %></strong>
      </p>
      <p>ジャンル&emsp;&emsp;
        <strong><%= @genre.name %></strong>
      </p>
      <p>税込価格(税抜価格)&emsp;&emsp;
        <strong>
          <%= @product.tax_on %>
          (<%= @product.price %>)円
        </strong>
      </p>
      <p>販売ステータス&emsp;&emsp;
        <% if @product.is_active == true %>
          <%= "販売中" %>
        <% else %>
          <%= "販売中止" %>
        <% end %>
      </p>
    </div>

    <button class="btn btn-info pull-right btn-lg">
      <%= link_to "編集する", edit_admin_product_path(@product) %>
    </button>

  </div>
</div>