<div class="container">
    <div class="row">
        <div class="col-md-8">
    	<h3><mark>注文情報確認</mark></h3>
        <%= form_with model: @order, url: done_orders_path(@order), method: :get, local: true do |f| %>
        <table class="active, table table-bordered">
		<thead>
			<tr class = "active">
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>

		<tbody>
			<% @order_products.each do |order_product| %>
			<tr>
				<td>
					<%#= order_product.@product.image_id %>
					<%#= attachment_image_tag(@product, :image_id, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
					<%= order_product.name %>
				</td>
				<td><%= order_product.price.to_s(:delimited) %></td>
				<td><%= order_product.amount %></td>
				<td><%= order_product.total_price.to_s(:delimited) %></td>
			</tr>
			<% end %>
		</tbody>
		</table>
		</div>

    <div class="col-md-4">
    	<tr>
    		<th class="active">商品合計</th>
    		<td><%= @order.order_total_price.to_s(:delimited) %></td>
  		</tr>
		<tr>
    		<th class="active">送料</th>
    		<td><%= @order.postage %></td>
  		</tr>
		<tr>
    		<th class="active">請求金額合計</th>
    		<td><%= @order.total_pay.to_s(:delimited) %></td>
  		</tr>

  		<tr>
  			<h4>支払方法</h4>
  			<% if @payment_type == "0" %>
      			<%= クレジットカード %>
    		<% else %>
      			<%= 銀行振込 %>
    		<% end %>
  		</tr>
  		<tr>
  			<h4>お届け先</h4>
			<% if @order.address == A %>
      			<%= @current_customer_address %>
    		<% elsif @order.address == B %>
      			<%=  %>
      		<% elsif @order.address == C %>
      			<%=  %>
    		<% end %>
  		</tr>
  		<% end %>

  </div>
</div>

