<div class="container">
    <div class="row">
        <div class="col-md-6">
    <h3><mark>注文情報入力</mark></h3>
    <h3>支払方法</h3>
      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
      <div>
        <%= f.radio_button :payment_type, :0 %>
        <%= f.label :payment_type, "クレジットカード", {value: :true, style: "display: inline-block;"} %>
      </div>
      <div>
        <%= f.radio_button :payment_type, :1 %>
        <%= f.label :payment_type, "銀行振込", {value: :false, style: "display: inline-block;"} %>
      </div>
    <h3>お届け先</h3>
      <div>
        <%= f.radio_button :payment_type, :0 %>
        <%= f.label :payment_type, "ご自身の住所", {value: :true, style: "display: inline-block;"} %>
        
      </div>
      <div>
        <%= f.radio_button :payment_type, :1 %>
        <%= f.label :payment_type, "登録済み住所", {value: :false, style: "display: inline-block;"} %>
      </div>
