<div class="container">
    <div class="row">
    	<h3><mark>注文履歴詳細</mark></h3>
        <%= form_with model: @order, url: orders_path(@order), local: true do |f| %>

		<div class="col-md-6">
    	<table class="active, table table-bordered">
		<h4>注文情報</h4>
		<% @orders.each do |order| %>
		<thead>
		</thead>
    		<tbody>
    		<tr>
   				<td class="active">注文日</td>
	    		<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
				</tr>
				<tr>
   				<td class="active">配送先</td>
	    		<td><%= order.postal_code %></br>
    					<%= order.address %></br>
    					<%= order.name %>
	    		</td>
				</tr>
  			<tr>
    			<td class="active">支払方法</td>
    			<td><%= order.payment_type %></td>
  			</tr>
  			<tr>
    			<td class="active">ステータス</td>
    			<td><%= order.status %></td>
  			</tr>
  		</tbody>
  	</table>

		<div class="col-md-10">
    	<table class="active, table table-bordered">
			<h4>請求情報</h4>
			<thead>
				</thead>
    			<tbody>
						<tr>
    					<td class="active">商品合計</td>
    					<td><%= order.total_payment.to_i - order.postage.to_i %></td>
  					</tr>
						<tr>
    					<td class="active">配送料</td>
    					<td><%= order.postage %></td>
  					</tr>
  					<tr>
    					<td class="active">ご請求額</td>
    					<td><%= order.total_payment %></td>
  					</tr>
  					<% end %>
  					</div>


			<div class="col-md-8 col-md-offset-4">
    		<table class="active, table table-bordered">
		<h4>注文内容</h4>
		<thead>
			<tr class="active">
    			<th>商品</th>
    			<th>単価（税込）</th>
    			<th>個数</th>
    			<th>小計</th>
  			</tr>
		</thead>
		<tbody>
			<% @order_product.each do |order_product| %>
			<tr>
				<td>
					<%= order_product.product.name %></br>
				</td>
				<td><%= order_product.price.to_s(:delimited) %></td>
				<td><%= order_product.amount %></td>
				<td><%= order_product.total_price.to_s(:delimited) %></td>
			</tr>
			<% end %>
		</tbody>
		</table>
		</div>
		</div>
		<% end %>